<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alan Pérez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Hoja de Vida</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <!-- Aquí pones la URL de tu imagen -->
      <img src="https://private-user-images.githubusercontent.com/117743495/326301874-e27e89b8-0417-4a74-a661-9c134b9c21d9.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTU5ODI2MTgsIm5iZiI6MTcxNTk4MjMxOCwicGF0aCI6Ii8xMTc3NDM0OTUvMzI2MzAxODc0LWUyN2U4OWI4LTA0MTctNGE3NC1hNjYxLTljMTM0YjljMjFkOS5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNTE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDUxN1QyMTQ1MThaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kZmMwOWE2YjBiYTVjYmFhYjEyYWMyMDQzYzQ3YmNmOTM0ZDZmNDBiN2M3Mjk0ZTk1ZmU2NmFhY2VkODU2MDlmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.RFu1vVafowWUlvs94s9EiJN4LyhD8K5zJD-idxt_Iso" />
    </ion-avatar>
    <ion-label>
      <!-- Aquí pones tu nombre -->
      <h2>Alan Perez</h2>
      <!-- Aquí pones tu título o posición -->
      <p>Estudiante 5to semestre</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <!-- Sección de info -->
    <ion-item-divider>
      <ion-label>
        <h2>Quíen soy</h2>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <p>Soy tecnólogo en desarrollador de software al que le apasiona la tecnología, la robotica e inteligencia artificial y los videojuegos. Aun soy estudiante en constante búsqueda de conocimiento que me ayude a conseguir mis metas.</p>
      </ion-label>
    </ion-item>

    <!-- Sección de Educación -->
    <ion-item-divider>
      <ion-label>
        <h2>Educación</h2>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <!-- Aquí pones un grado académico -->
        <h3>Escuela Primaria</h3>
        <p>Comil 1 Abdón Calderón</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Escuela Secundaria - Bachillerato</h3>
        <p>Descripción del grado académico 2</p>
      </ion-label>
    </ion-item>

    <!-- Sección de Habilidades -->
    <ion-item-divider>
      <ion-label>
        <h2>Habilidades</h2>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <!-- Seccion habilidades -->
        <h3>Resiliencia</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Responsabilidad</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
